* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* colors */
/* footer and navbar: #555 */

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: linear-gradient(
    rgb(184, 58, 96),
    rgb(247, 124, 130),
    rgb(116, 16, 46)
  );
  height: 100%;
}

.classes-container,
.about-container,
.plans-container,
.contact-container,
.teachers-container {
  margin: 100px auto;
  color: rgba(0, 0, 0, 0.651);
}

.navbar,
.cta-section {
  background-color: rgba(54, 54, 54, 0.781);
}
.nav-header {
  text-transform: lowercase;
  font-weight: 900;
  letter-spacing: 2px;
  color: #fff;
  font-family: "Satisfy", cursive;
}
.nav-header:hover,
.nav-header:active {
  color: rgb(184, 184, 184);
}

.logo {
  -webkit-filter: invert(100%);
}

.nav-link,
.link {
  text-transform: lowercase;
  letter-spacing: 1px;
  color: white;
  /* font-weight: 600; */
}

.link:active,
.link:hover,
.nav-link:active,
.nav-link:hover {
  color: rgb(207, 207, 207);
  text-decoration: none;
}

.vid-container {
  max-height: 60rem;
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  z-index: 10;
  transition: all 0.25s;
  font-size: 30px;
  font-weight: 900;
  text-transform: lowercase;
  margin: 0 40px;
  font-size: larger;
  color: #ddd;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.vid-header-color {
  color: rgb(247, 124, 130);
}

video {
  filter: brightness(60%);
  transform: rotateY(180deg);
}
p {
  letter-spacing: 0.5px;
}
.text-highlight {
  color: #ddd;
}
.cta-section {
}

.cta-btn {
  border: none;
  margin: 0 auto;
}

.card-img-overlay {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
  display: flex;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease-out;
}
.card-img-overlay:hover {
  color: white;
  letter-spacing: 4px;
  text-decoration: none;
}
.card-styles {
  text-decoration: none;
  padding: 0 auto;
  background: transparent;
  margin-bottom: 20px;
}

.card:hover {
  text-decoration: none;
}
.card-info {
  text-transform: lowercase;
  background-color: rgba(255, 255, 255, 0.342);
}

.card-header,
.form-header,
.footer-header,
.about-header,
.classes-header,
.teachers-header {
  color: rgba(0, 0, 0, 0.562);
  font-weight: 700;
  font-size: medium;

  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.price {
  font-weight: 800;
}
.list-unstyled {
  line-height: 2;
}

.about-img {
  width: 100%;
}

.quote-text,
.blockquote-footer {
  font-size: smaller;
}
.site-footer {
  background-color: inherit;
  /* position: fixed; */
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0 40px;
}
